.container {
    max-width: 1100px;
}
header {
    /* background-image: url('assets/bmb.jpg'); */
    background-color: #0286FE;
    /* background-size: cover;*/
    /* height: 550px; */
    position: relative;
}

.title-color, .subti{
    color: white;
}

.title {
    color: #5080E5;
    font-size: 1.95rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.eltitulo{
    padding: 1px;
    font-size: 3.75rem;
}

.subti{
    padding: 0px;
    margin-bottom: 5px;
    font-size: 1.65rem;
}

.parrafo{
    color: #ffffff;
}

.btn {
    background-color: #5080E5;
    border-radius: 20px;
    color: white;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}

.btnpro{
    background-color: #0286fe;
    border: none;
    color: white;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
}

.green{
    background-color: #54CF17;
    border-radius: 20px;
    border: 0px;
    color: white;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.logo{
    width: 120px;
}

#row-bigpromocion{
    background-color: #0286fe;
}

#row-promociones{
    background-color: #00517d;
}

.row{
    margin: 0;
}

#row-cursos img{
    
}

#row-pepito{
    background-image: url('assets/bmb.jpg');
    background-size: cover;
    padding-top: 100px !important;
    padding-bottom: 100px !important;
}

#row-nosotros{
    background-image: url('assets/fondo2.png');
    background-size: cover;
    padding-top: 100px !important;
    padding-bottom: 100px !important;
}
#row-servicios{
    background-image: url('assets/fondo2.png');
    background-size: cover;
    padding-top: 100px !important;
    padding-bottom: 100px !important;
}
#row-frace{
    background-image: url('assets/fondo3.png');
    background-size: cover;
    background-position: center;
    padding-top: 200px !important;
    padding-bottom: 200px !important;
}
#row-contacto{
    background-image: url('assets/fondo2.png');
    background-size: cover;
    padding-top: 140px !important;
    padding-bottom: 140px !important;
}

#row-nosotros img{
    border-radius: 50%;
    width: 300px;
}
#row-servicios img{
    border-radius: 50%;
    width: 300px;
}


#row-nosotros p{
    font-size: 14px;
}

#row-servicios p{
    font-size: 14px;
}


#row-datos{
    background-color: #5080E5;
    padding-top: 100px !important;
    padding-bottom: 100px !important;
}
.circulo{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #B3FBFF;
}

.form-control{
    border-radius: 50px;
}

footer{
    background-color: black;
    padding-top: 100px !important;
    padding-bottom: 100px !important;
}

footer a{
    text-decoration: none;
    color: white;
}

@media(max-width:992px){
    .navbar-nav{
        background-color: #5080E5;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;    
        padding-left: 20px;    
    }
}
nav{
    z-index: 100;
}


/* Agregado de otro proyecto */
img{
	max-width: 100%;
}

.gallery{
	background-color: #dbddf1;
	/* padding: 80px 0; */
}
.gallery img{
	background-color: #ffffff;
	padding: 15px;
	width: 100%;
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
	cursor: pointer;
}
#gallery-modal .modal-img{
	width: 100%;
}

